/* ===== 基础重置样式 ===== */

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

/* 滚动容器 */
.snap-scroll-container {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.snap-section {
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  .snap-section {
    min-height: calc(100vh - 6rem);
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 1s, color 1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.theme-toggle-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.theme-icon-sun,
.theme-icon-moon {
  display: inline-block;
}

.theme-icon-sun {
  display: none;
}

.dark-theme .theme-icon-sun {
  display: inline-block;
}

.dark-theme .theme-icon-moon {
  display: none;
}
