/* ===== 可复用工具类 ===== */

/* Section */
.section {
  padding: 0;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* Container & Grid */
.container {
  max-width: 1200px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  padding: 0 2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Button */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.2rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  transition: .3s;
}

.button--small {
  padding: .75rem 1rem;
}

.button--link {
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover {
  background-color: transparent;
  color: var(--first-color-alt);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* 响应式 */
@media screen and (max-width: 767px) {
  .container {
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.25rem;
  }
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
    padding: 0 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 0;
  }

  .section__subtitle {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.8125rem;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (min-width: 1900px) {
  .container {
    max-width: 1600px;
  }
}

@media screen and (min-width: 2500px) {
  .container {
    max-width: 2100px;
  }
}

@media screen and (min-width: 3800px) {
  .container {
    max-width: 3200px;
  }
}
