NEXT_PUBLIC_API_BASE_URL=https://api.csustar.wiki
NEXT_PUBLIC_REDIRECT_URI=https://csustar.wiki/login/callback/
NEXT_PUBLIC_QQ_CLIENT_ID=replace_me
NEXT_PUBLIC_GITHUB_CLIENT_ID=replace_me
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace_me
