.random-book{

    --container-bg: #f0f0f0;

    border-radius: 20px;
    /* border: 1px solid blue; */
    overflow: hidden;
    background-color: var(--container-bg);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2), -8px -8px 16px rgba(255, 255, 255, 0.9);
    background: linear-gradient(145deg,rgba(0,0,0,0.1),
    rgba(255, 255, 255, 0.6));

}